<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321741589677-reilen1o66eoehk2jiei8q3lcanle88m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321741589677-reilen1o66eoehk2jiei8q3lcanle88m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>321741589677-j4t2k6tvq5etvboko8kbtv9mcnepmi9u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDs2aUtIFCvSGKTojpb5J3OPkrZlJss-HU</string>
	<key>GCM_SENDER_ID</key>
	<string>321741589677</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pruebas.StackApp</string>
	<key>PROJECT_ID</key>
	<string>proyectoins-b1f00</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoins-b1f00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:321741589677:ios:046f5090d438193ffe8a24</string>
	<key>DATABASE_URL</key>
	<string>https://proyectoins-b1f00.firebaseio.com</string>
</dict>
</plist>
